.root{

}

@font-face{
	font-family: "BigShoulders";
	src: url(https://mwiingakayuni.ml//fonts/BigShouldersText-Regular.ttf),
		url(file:///C:/Users/Mwiinga/Python/Web/MK%20Portfolio/fonts/BigShouldersText-Regular.ttf);
}

@font-face{
	font-family: "BigShoulders-Bold";
	src: url(https://mwiingakayuni.ml//fonts/BigShouldersText-Bold.ttf),
		url(file:///C:/Users/Mwiinga/Python/Web/MK%20Portfolio/fonts/BigShouldersText-Bold.ttf);
}

@font-face{
	font-family: "Abel";
	src: url(https://mwiingakayuni.ml//fonts/Abel-Regular.ttf),
		url(file:///C:/Users/Mwiinga/Python/Web/MK%20Portfolio/fonts/Abel-Regular.ttf);
}

*::selection{
	background-color: black;
	color: #FFF4E0;
}

body{
	font-family: "Abel";
	font-size: 1.5em;
	overflow-x: hidden;
}

a,
a:visited{
	color: grey;
	text-decoration: none;
	transition: all 250ms ease-in;
	letter-spacing: 0.01em;
	transform: scale(1);
}

a:active{
	transform: scale(0.95);
}

a:hover{
	color: black;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
	transform: scale(1.05);
}

.fixed-background{
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: #FFF4E0;
}

.nav{
	font-family: "BigShoulders-Bold";
	font-size: 1.75em;
	position: relative;
	z-index: 1;
	width: 100%;
	top:0;
	left: 0;
	border-bottom: 1px solid rgba(150, 150, 150, 0.5);
	display: flex;
	justify-content:space-between;
	background-color: transparent;
	flex-wrap: wrap;
	gap: 0.3;
}

.nav > *{
	text-align: center;
	padding: 1em 1em 1em 1em;
	flex: 1 1 3em;
}
.logo{
	display: flex;
	justify-content: center;
}

.logo > a{
	display: block;
	width: 75px;
	height: 75px;
	background-color: transparent;
	border-radius: 37.5px;
	box-shadow: 0px 0px 5px 1px black;
	transform: scale(1);
	transition: 
		all 250ms ease-out;
}

.logo > a:hover{
	transform: scale(1.05);
	background-color: #0a5d79dd;
	box-shadow: 0px 0px 10px 1px black;
}

.logo > a:active{
	transform: scale(0.95);
	background-color: black;
}


.logo-icon{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 75px;
}



.links{
	flex: 1 1 6em;
	display: flex;
	justify-content: center;
	gap: 1.5em;
	flex-wrap: wrap;
}

.links > *{
	flex: 0.2 1 3em;
}

.content{
	position: relative;
	border-radius: 5px;
	z-index: 1;
	background-color: transparent;
	top: 20vh;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100vw;
	max-width: 720px;
}

.content > *{
	position: relative;
} 

img{
	left: 50%;
	transform: translateX(-50%);
}

.header{
	font-family: "BigShoulders-Bold";
	font-size: calc(5vw + 1em);
	color: grey;
	text-align: center;
	letter-spacing: 0.05em;
	bottom: 0.1em;
}

.header > h1::after{
	content: '';
	display: block;
	width: auto;
	height: 0.1em;
	background-color: #ffa500a0;
}
