:root{
	--bg-dark-grey: #1f1f1f;
	--bg-mid-grey: #333333;
	--bg-light-grey: #666666;
	--accent-orange: #f98c42;
	--bg-gradient: linear-gradient(to bottom, var(--bg-dark-grey), var(--bg-mid-grey), var(--bg-light-grey));
}

@font-face {
	font-family: 'Trebuchet MS';
	font-style: normal;
	font-weight: normal;
	src:url('file:///C:/Users/Mwiinga/Python/Web/MK%20Portfolio/fonts/trebuc.woff') format('woff');
}

*{
	scroll-behavior: smooth;
}

*::selection{
	color: var(--bg-mid-grey);
	background-color: white;
}
body{
	margin: 0;
}
.site{
	font-family: 'Trebuchet MS', sans-serif;
	overflow-x: hidden;
}

h1, 
h2,
h3,
h4{
	margin: 0;
}


.landing{
	position: relative;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--bg-gradient);
	overflow: hidden;
}

.bg-logo{
	display: block;
	height: 30em;
	width: 40em;
	background-color: transparent;
	background-image: url(file:///C:/Users/Mwiinga/Python/Web/MK%20Portfolio/images/mk_logo_black.png);
	background-blend-mode: lighten;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0.1;
	position: absolute;
	bottom: -5em;
	right: -5em;
	animation: logoAnimation 120s linear infinite running;
}

.heading{
	display: flex;
	align-items: center;
	gap: 1em;
	padding: 2em;
	position: relative;
}

.name{
	text-align: right;
	font-size: calc(1.5rem + 1vw);
	color: white;
}

.titles{
	text-align: left;
	font-size: calc(0.8rem + 1vw);
	color: var(--accent-orange);
}


.titles>*::selection{
	color: white;
	background-color: var(--accent-orange);
}

@keyframes logoAnimation{
	0%{
		transform: rotate(0deg);
		bottom: -25em;
		right: -20em;

	}
	25%{
		bottom: 20em;
		right: 10em;
	}
	50%{
		transform: rotate(360deg);
		bottom: 50em;
		right: -30em;
	}
	100%{
		transform: rotate(0deg);
		bottom: -25em;
		right: -20em;
	}
}

.nav{
	color: white;
}

.navbar{
	position: absolute;
	bottom: 1em;
	z-index: 1000;
	width: 100%;
	display: flex;
	justify-content: center;
}


.nav-menu{
	display: flex;
	width: 40%;
	max-width: 450px;
	margin: 0;
	padding: 1em 0;
	justify-content: space-around;
	list-style: none;
	font-size: 1em;
}

.menu-item{
	transform: scale(1);
	transition: all 350ms ease-out;
}

.menu-item:hover{
	transform: scale(1.3);
}

.nav-link,
.nav-link:visited{
	color: inherit;
	text-decoration: none;
}

.side-scroll-section{
	display: flex;
	position: relative;
	width: 100%;
}


.about{
	display: flex;
	flex: 0 0 100%;
	flex-direction: column;
	position: relative;
	left: 0;
	align-items:center;
	min-height: 100vh;
	color: white;
	background-color: var(--bg-mid-grey);
}

.about-heading{
	color: var(--accent-orange);
	font-size: calc(2rem + 1vw);
	position: relative;
	flex: 0 1 20%;
	width: 80%;
	padding: 1em;
}

.about-description{
	width: 55%;
	min-width: 20ch;
	text-align: justify;
}

.cutout-image-container{
	position: absolute;
	right: 0;
	bottom: 0;
	display: block;
	height: 50%;
	padding: 2vh 0 0 2vh;
	opacity: 1;
	max-width: 50%;
}

.cutout-image{
	height: 100%;
	width: calc(400px + 1vh);
	object-fit: cover;
	object-position: top;
}

@media (max-width: 500px){
	.cutout-image{
		width: calc(300px + 1vh);
	}
}

.work{
	flex: 0 0 100%;
	display: block;
	height: 100vh;
	width: 100%;
	background-color: var(--bg-light-grey);
}

.fixed{
	position: fixed;
	top: 0;
	bottom: auto;
}

.one-em{
	top: 1em;
}

.side-scroll{
	transform: translateX(0px);
}

.highlighted{
	color: var(--accent-orange);
	transform: scale(1.3);
}

.highlight-nav-menu{
	background-color: var(--bg-light-grey);
}
